.item-detail {
  height: 0;
  overflow: hidden;
}

.item-detail--expanding {
  transition: height .5s;
}

.item-detail--show {
  height: auto;
}

.item-detail__rating {
  font-size: 164px;
  margin: 0;
}

.item-detail__rating--toxic {
  color: red;
}

.item-detail__rating--nontoxic {
  color: green;
}
