body {
  display: flex;
  flex-direction: column;
  margin: 0 6%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.app__search-container {
  display: flex;
}

.app__title {
  color: rgb(77, 112, 226);
  font-size: 200px;
  font-weight: bold;
  margin: 0;
  line-height: 90%;
  width: 50%;
}

.app__animal-selector {
  color: black;
  background: unset;
  border: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgb(77, 112, 226);
  font-size: 200px;
  font-weight: bold;
  line-height: 90%;
  box-sizing: border-box;
  position: relative;
  animation-name: wiggle;
  animation-duration: 1000ms;
}

.app__animal-selector:hover {
  cursor: pointer;
}

.app__animal-selector:focus {
  outline: 0;
  border: 3px solid rgb(77, 112, 226);
}

.a11y-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.app__main {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}

@keyframes wiggle {
  0% {
    transform: rotate3d(0, 0, 1, 0);
  }
  70% {
    transform: rotate3d(0, 0, 1, 0);
  }
  75% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  85% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  90% {
    transform: rotate3d(0, 0, 1, -3deg);
  }
  95% {
    transform: rotate3d(0, 0, 1, 3deg);
  }
  100% {
    transform: rotate3d(0, 0 , 1, 0);
  }
}